
<div *ngIf='isLoading'>
  <app-loader></app-loader>
</div>
<div class="alert alert-danger" *ngIf='!isLoading && error'>
  <p>{{ error }}</p>
</div>
<div class="container-fluid">
  <div class='mainClass'>
    <div class="card">
      <div class="card-header">
        <div class='cardHeader'> 
          <h5>{{CONSTANTS.HEADINGS.LOGIN}}</h5>
          <button mat-raised-button color="primary" (click)='onSignupPressed()'>
              {{CONSTANTS.BUTTONS.SIGN_UP}}
          </button>
        </div>
      </div>
      <div class="card-body">
        <form class="example-container" [formGroup]='loginForm' (ngSubmit)='onClick()'>
          <mat-form-field >
            <input matInput [placeholder]="CONSTANTS.LOGIN.PLACEHOLDER.EMAIL" formControlName="email" >
            <mat-error *ngIf="loginForm.get('email').invalid">{{getErrorMessage('email')}}</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput [placeholder]="CONSTANTS.LOGIN.PLACEHOLDER.PASSWORD" type='password' formControlName="password" >
            <mat-error *ngIf="loginForm.get('password').invalid">
                {{getErrorMessage('password')}}
            </mat-error>
          </mat-form-field>
          <br>
          <button class='loginButton' mat-raised-button color="primary" [disabled]="!loginForm.valid">
            {{CONSTANTS.BUTTONS.LOGIN}}
          </button> 
        </form>
      </div>
    </div>     
  </div>         
</div>