  .mainClass {
    box-shadow: 1px 1px 100px 10px rgba(0, 0, 0, 0.5);
  }

  .example-container > * {
    width: 100%;
  }

  .container-fluid {
    align-items: flex-end;
    width: 30%;
    padding-top: 5%;
  }

  .header {
    justify-content: space-between;
    display: flex;
  }

  mat-form-field {
   margin-bottom: 30px;
  }

  .signUpButton {
    height: 60px;
  }