

<div>

  <div class="alert alert-danger" *ngIf='!isLoading && error'>
     <p>{{ error }}</p>
  </div>
  
  <div *ngIf='isLoading'>
      <app-loader></app-loader>

  </div>
  <div>
<form class="example-container" [formGroup]='newGroup' (ngSubmit)='onClick()' *ngIf='!isLoading'>
  <mat-form-field>
    <input matInput placeholder="First Name" formControlName="firstName" >
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Last Name" formControlName="lastName" >
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="Enter your email" formControlName="email" >
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="password" type='password'formControlName="password" >
  </mat-form-field> 
  <mat-form-field>
    <input matInput placeholder="Confirm Password" type='password'formControlName="confirmPassword" >
  </mat-form-field>
  <button mat-raised-button color="primary">
    Signup
  </button>
</form>
</div>
</div>