.mainClass {
    display: flex;
    flex-direction: column;
    align-self: center;
}

mat-form-field {
  display: block;
}

.buttons {
  display: flex;
  justify-content: center;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.card-header {
  text-align: center;
}

.modalButton {
  margin-left: 15px;
}

