
<form class="example-container" [formGroup]='newGroup' (ngSubmit)='onClick()'>
  
        <mat-form-field>
          <input matInput placeholder='ID' formControlName="enrollmentId" [value]='data.enrollmentId'>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder='Name' formControlName="name" [value]='data.name'>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder='Age' formControlName="age" [value]='data.age'>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder='Sex' formControlName="sex" [value]='data.sex'>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder='Percentage' formControlName="percentage" [value]='data.percentage'>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="onCancel()">Cancel</button>
        <button mat-raised-button color="warn" type='submit' *ngIf='data.id' >Add</button>
        <button mat-raised-button color="warn" type='submit' *ngIf='!data.id' >Update</button>
        
      </form>      
      