<div class="card">
    <div class="card-header">
       
          <h5>{{ CONSTANTS.HEADINGS.STUDENT_DATA }}</h5>
         
      </div>

      <div class="card-body">

<form class="example-container" [formGroup]='studentData'>
  <mat-form-field>
    <input matInput [placeholder]='CONSTANTS.STUDENT_DATA.ENROLLMENT_ID' formControlName="enrollmentId" [value]='data.enrollmentId' type='number'>
    <mat-error *ngIf="studentData.get('enrollmentId').invalid">
      {{getErrorMessage('enrollmentId')}}
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [placeholder]='CONSTANTS.STUDENT_DATA.NAME' formControlName="name" [value]='data.name'>
    <mat-error *ngIf="studentData.get('name').invalid"> 
      {{getErrorMessage('name')}}
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [placeholder]='CONSTANTS.STUDENT_DATA.AGE' formControlName="age" [value]='data.age' type='number'>
    <mat-error *ngIf="studentData.get('age').invalid"> 
      {{getErrorMessage('age')}}
    </mat-error>
  </mat-form-field>
  <br>
  <mat-radio-group aria-label="Select an option" formControlName="sex" >
    <mat-radio-button color='primary' [value]='item' *ngFor="let item of list">{{item}}</mat-radio-button>
    <mat-error *ngIf="studentData.get('sex').invalid"> 
      {{getErrorMessage('sex')}}
    </mat-error>
  </mat-radio-group>
  <br>
  <mat-form-field>
    <input matInput [placeholder]='CONSTANTS.STUDENT_DATA.PERCENTAGE' formControlName="percentage" [value]='data.percentage' type='number'>
    <mat-error *ngIf="studentData.get('percentage').invalid"> 
      {{getErrorMessage('percentage')}}
    </mat-error>
  </mat-form-field>
  <br>
 
</form>    
</div>
<div class="card-footer">
    <div class='buttons'>
        <button mat-raised-button color="primary" (click)="onCancel()">{{CONSTANTS.BUTTONS.CANCEL}}</button>
        <button mat-raised-button color="warn" (click)='onClick()' *ngIf='!data.id' [disabled]="!studentData.valid" class='modalButton'>{{CONSTANTS.BUTTONS.ADD}}</button>
        <button mat-raised-button color="warn" (click)='onClick()' *ngIf='data.id' [disabled]="!studentData.valid" class='modalButton'>{{CONSTANTS.BUTTONS.UPDATE}}</button>
      </div>
</div>

</div>

