<div mat-dialog-content class='mainClass'>
  
        <mat-form-field>
          <input matInput placeholder='ID' [(ngModel)]="data.enrollmentId">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder='Name' [(ngModel)]="data.name">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder='Age' [(ngModel)]="data.age">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder='Sex' [(ngModel)]="data.sex">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder='Percentage' [(ngModel)]="data.percentage">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="onCancel()">Cancel</button>
        <button mat-raised-button color="warn" (click)='onAdd(data)' >Add</button>
 
      </div>
      <!-- <div mat-dialog-actions> -->
            <!-- </div> -->
      
      
      <!-- Copyright 2019 Google Inc. All Rights Reserved.
          Use of this source code is governed by an MIT-style license that
          can be found in the LICENSE file at http://angular.io/license -->