table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
}

td, th {
  width: 18.5%;
}

.mainClass {
  box-shadow: 1px 1px 100px 10px rgba(0, 0, 0, 0.5);
}

.header {
  display: flex;
  justify-content: space-evenly;
}

.example-container {
  height: 500px;
  overflow: auto;
}

.container-fluid {
  align-items: flex-end;
  width: 90%;
  padding-top: 2%;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}
