table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  /* width: 100%; */
}

td, th {
  width: 19%;
}


.mainClass {
  box-shadow: 1px 1px 100px 10px rgba(0, 0, 0, 0.5);

}


.cardHeader {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
}

.example-container {
  height: 400px;
  overflow: auto;
}



.container-fluid {
  /* background-color: red; */
  align-items: flex-end;
  width: 90%;
  padding-top: 5%;
}
